* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: Metropolis-Regular;
	src: url('./assets/fonts/Metropolis-Regular.otf');
}

body {
	font-family: 'Metropolis-Regular', Helvetica, sans-serif;
}
